@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* headings and logo */  

header {
    background-color: #C39A6B;
    height: 100px;
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-weight: 600;
}

h2 {
    font-weight: 200;
}

h3 {
    letter-spacing: 2px;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 30px;
    letter-spacing: 2px;
    color: #fff;
}

#sub-logo {
    float: left;
    font-size: 225%;
    letter-spacing: 2px;
    color: #fff;
    margin-top: 20px;
    margin-left: 30px;
    position: absolute;
}

/* navigation links */

#menu {
    font-size: 130%;
    letter-spacing: 2px;
    color: #fff;
}

#menu, #logo, #sub-logo {
    line-height: 60px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 3px solid #fff;
}

.active {
    border-bottom: 3px solid #fff;
}

/* homepage image */

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/norwood_park.jpg') no-repeat center center;
}

/* introduction */

#intro {
    text-align: center;
    background-color: #fff;
    color: #79492F;
}

#intro div {
    padding: 2%;
}

h3 {
    font-size: 200%;
}

h4 {
    font-size: 150%;
    font-weight: 200;
}

/* small gallery section */

#gallery {
    width: 100%;
    text-align: center;
    background: #CFAE89;
}

#gallery h3 {
    text-align: center;
    padding: 1%;
}

.photos img {
    width: 23%;
    margin-bottom: 4%;
}

/* about */

#about-h3 {
    margin-top: 2%;
}

#about {
    background-color: #fff;
    color: #79492F;
    height: 300px;
    margin-top: 1%;
}

.aboutspans {
    width: 20%;
}

.aboutdivs {
    width: 100%;
}

#about1 {
    float: left;
    margin-left: 5%;
    margin-top: 5%;
}

#aboutimg1 {
    float: right;
    padding-right: 5%;
}

#about2 {
    float: right;
    margin-right: 5%;
}

#aboutimg2 {
    float: left;
    padding-left: 5%;
}

#about3 {
    float: left;
    margin-left: 5%;
}

#aboutimg3 {
    float: right;
    padding-right: 5%;
}

.about_text {
    font-size: 155%;
    height: 300px;
    width: 70%;
    margin: 2%;
}

.about_img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

/* prices */

#prices_section {
    background-color: #fff;
    color: #79492F;
}

/* contact form */

h3 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #79492F;
}

.contactform {
    color: #79492F;
    padding: 2% 0;
    margin: 0 auto;
    width: 50%;
}

.contact {
    width: 75%;
    margin: 0 auto;
}

.contact > label {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    padding-top: 2%;
    text-align: left;
    display: block;
}

.text-input {
    border-bottom: #79492F 1px solid;
    padding-bottom: 2%;
}

.smallbox {
    width: 100%;
}

textarea {
    margin-top: 2%;
    padding: 1%;
    font-family: 'Open Sans', sans-serif;
    border: #79492F 1px solid;
}

.return_button, .submit_message {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #CFAE89;
    color: #fff;
    border-radius: 8px;
    border: #79492F 1px solid;
    margin-top: 2%;
    padding: 15px 32px;
}

.return_button:hover, .submit_message:hover {
    background-color: #fff;
    color: #79492F;
    border: #79492F 1px solid;
}

input:hover {
    background-color: #F8F1ED;
    border: #79492F 1px solid;
}

textarea:hover {
    background-color: #F8F1ED;
}

.thank-you {
    text-align: center;
    color: #79492F;
    font-size: 150%;
    padding: 5%;
}

/* footer */

footer {
    clear: both;
    position: relative;
    background-color: #C39A6B;
    height: 150px;
}
    
.social-links {
    text-align: center;
}
    
.social-links > li {
    display: inline;
}
    
.social-links i {
    font-size: 200%;
    margin: 1%;
    padding: 2%;
    color: #fff;
}