@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Open Sans, sans-serif;
    color: #fff;
    background-color: #C39A6B;
}

/* headings and logo */  

h1, h2 {
    font-family: Poppins, sans-serif;
}

h1 {
    font-weight: 600;
}

h2 {
    font-weight: 200;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 30px;
    letter-spacing: 2px;
    color: #fff;
}

#sub-logo {
    float: left;
    font-size: 225%;
    letter-spacing: 2px;
    color: #fff;
    margin-top: 20px;
    margin-left: 30px;
    position: absolute;
}

/* navigation links */

#menu {
    font-size: 130%;
    letter-spacing: 2px;
}

#menu, #logo, #sub-logo {
    line-height: 60px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 3px solid #fff;
}

.active {
    border-bottom: 3px solid #fff;
}

/* homepage image */

#hero-image {
    margin-top: 80px;
    height: 600px;
    width: 100%;
    background: url('../images/norwood_park.jpg') no-repeat center center;
}

/* introduction */

#intro {
    text-align: center;
    background-color: #fff;
    color: #79492F;
}

#intro div {
    padding: 3%;
}

h3 {
    font-size: 200%;
}

h4 {
    font-size: 150%;
    font-weight: 200;
}

/* small gallery section */

#gallery {
    padding-bottom: 4%;
    padding-left: 3%;
}

#gallery h3 {
    text-align: center;
    padding: 2%;
}

.photos {
    display: inline;
}

.photos > img {
    width: 24%;
    height: 500px;
}

#photo_gallery {
    width: 100%;
    margin: 0 auto;
}

/* about */

#about1 {
    background-color: #fff;
    color: #79492F;
}

#about2 {
    background-color: #C39A6B;
    color: #fff;
}

#about3 {
    background-color: #fff;
    color: #79492F;
}

#about4 {
    background-color: #C39A6B;
    color: #fff;
}

.about_text {
    padding: 4% 10%;
    text-align: center;
    font-size: 175%;
}

/* prices */

#prices_section {
    background-color: #fff;
    color: #79492F;
}

/* footer */

footer {
    height: 150px;
    background-color: #fff;
}
    
.social-links {
    text-align: center;
}
    
.social-links > li {
    display: inline;
}
    
.social-links i {
    font-size: 200%;
    margin: 1%;
    padding: 2%;
    color: #79492F;
}