@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Open Sans, sans-serif;
    color: #fff;
    background-color: #C39A6B;
}

/* headings and logo */  

h1, h2 {
    font-family: Poppins, sans-serif;
}

h1 {
    font-weight: 600;
}

h2 {
    font-weight: 200;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 30px;
    letter-spacing: 2px;
    color: #fff;
}

#sub-logo {
    float: left;
    font-size: 225%;
    letter-spacing: 2px;
    color: #fff;
    margin-top: 20px;
    margin-left: 30px;
    position: absolute;
}

/* navigation links */

#menu {
    font-size: 130%;
    letter-spacing: 2px;
}

#menu, #logo, #sub-logo {
    line-height: 60px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 3px solid #fff;
}

.active {
    border-bottom: 3px solid #fff;
}

/* homepage image */

#hero-image {
    margin-top: 80px;
    height: 600px;
    width: 100%;
    background: url('../images/norwood_park.jpg') no-repeat center center;
}
